body {
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
}

h1 {
  text-align: center;
  font-size: 32;
  display: block;
}

header {
  border-bottom: 1px dotted grey;
  padding: 10px;
}

ul {
  display: block;
}

header li {
display: inline-block;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header a {
  display: block;
  width: 100px;
  color: #0000ee
  text-decoration: underline;
  cursor: auto;
=======
>>>>>>> bc19bfe752e19fc7c17da7ddfc9168339a021716
}